<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoAndroid43" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid43" />
  <package id="PCLCommandBase" version="0.2.2" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v4" version="19.1.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Forms" version="1.3.0.6292" targetFramework="MonoAndroid43" />
</packages>